{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="d-flex flex-column m-4 gap-2">

        <h3>Offres disponibles</h3>

        {% for offer in offers %}    
            <div class="d-flex flex-column gap-2 p-2 mx-4 bg-dark text-white rounded">
                <p class="h3">{{ offer.name }}</p>
                <p>Nombre d'unités avec cette offre : {{ offer.unitLimit }}</p>
                <div class="d-flex flex-row gap-2">
                    <p>Prix : </p> 
                    {% if offer.promotionPercentage == 0 %}
                        <p>{{ unitPrice }}€</p>
                    {% else %}
                        <p class="font-weight-light text-decoration-line-through">{{ unitPrice }}€ </p>
                        <p>{{ unitPrice * ( 1 - ( offer.promotionPercentage / 100 )) }}€ ( -{{ offer.promotionPercentage }}% )</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        {#
        <h3>Offres les plus populaires</h3>
        {% for mostPopular in mostPopulars %}
            {{ mostPopular.name }}
        {% endfor %}
        #}
    </div>
{% endblock %}
