{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6 p-4">
                
            <p class="h3 mb-4 text-center text-primary fw-bold">Créer un compte</p>

            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            {{ form_start(registrationForm) }}

                <div class="mb-3">
                    {{ form_label(registrationForm.firstname, 'Prénom', {'label_attr': {'class': 'fw-bold'}}) }}
                    {{ form_widget(registrationForm.firstname, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(registrationForm.firstname) }}
                </div>

                <div class="mb-3">
                    {{ form_label(registrationForm.lastname, 'Nom', {'label_attr': {'class': 'fw-bold'}}) }}
                    {{ form_widget(registrationForm.lastname, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(registrationForm.lastname) }}
                </div>

                <div class="mb-3">
                    {{ form_label(registrationForm.mailAddress, 'Adresse Mail', {'label_attr': {'class': 'fw-bold'}}) }}
                    {{ form_widget(registrationForm.mailAddress, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(registrationForm.mailAddress) }}
                </div>

                <div class="mb-3">
                    {{ form_label(registrationForm.plainPassword, 'Mot de passe', {'label_attr': {'class': 'fw-bold'}}) }}
                    {{ form_widget(registrationForm.plainPassword, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(registrationForm.plainPassword) }}
                </div>

                <div class="mb-3">
                    <label for="agreeTerms" class="form-check-label">
                        J'accepte les <a href="#">termes et conditions d'utilisation</a>
                    </label>
                    {{ form_widget(registrationForm.agreeTerms, { 'id': 'agreeTerms', 'attr': {'class': 'form-check-input'} }) }}
                    {{ form_errors(registrationForm.agreeTerms) }}
                </div>

                <button type="submit" class="btn text-white w-100" style="background-color: #0F4C5C;">S'inscrire</button>

            {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
