<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Work Together{% endblock %}</title>
         <link rel="icon" href="{{ asset("images/logo.webp") }}"> 
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <!-- Matomo -->
        <script>
          var _paq = window._paq = window._paq || [];
          /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
            var u="//matomo.worktogether.com/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
          })();
        </script>
        <!-- End Matomo Code -->
    </head>
    <body>
        <div class="d-flex flex-row justify-content-between p-1 px-3 bg-primary text-white">

            <div class="d-flex flex-row justify-content-center gap-4">
                <a href="{{ path('home') }}" class="my-auto text-decoration-none">
                    <img src="{{ asset("images/logo.webp") }}" style="height: 60px; width: auto"/>
                </a>
                <h1 class="align-self-center">WorkTogether</h1>
            </div>

            <div class="d-flex flex-row justify-content-center gap-2">

                <button class="bg-secondary p-2 font-weight-bold my-auto border-0">
                    <a href="{{ path('home') }}" class="text-white p-2 font-weight-bold text-decoration-none">Accueil</a>    
                </button>

                <button class="bg-secondary p-2 font-weight-bold my-auto border-0">
                    <a href="{{ path('offers') }}" class="text-white p-2 font-weight-bold text-decoration-none">Offres</a>    
                </button>

                {% if is_granted('ROLE_USER') %}
                    <button class="bg-secondary p-2 font-weight-bold my-auto border-0">
                        <a href="{{ path('profil') }}" class="text-white p-2 font-weight-bold text-decoration-none">Profil</a>    
                    </button>
                    <button class="bg-secondary p-2 font-weight-bold my-auto border-0">
                        <a href="{{ path('logout') }}" class="text-white p-2 font-weight-bold text-decoration-none">Se déconnecter</a>    
                    </button>
                {% else %}
                    <button class="bg-secondary p-2 font-weight-bold my-auto border-0">
                        <a href="{{ path('register')}}" class="text-white p-2 font-weight-bold text-decoration-none">S'inscrire</a>    
                    </button>
                    <button class="bg-secondary p-2 font-weight-bold my-auto border-0">
                        <a href="{{ path('login') }}" class="text-white p-2 font-weight-bold text-decoration-none">Se connecter</a>    
                    </button>
                {% endif %}
            </div>
        </div>

        <div class="container my-4 p-2 bg-white shadow">
            {% block body %}{% endblock %}
        </div>

    </body>

    <footer class="d-flex flex-column flex-grow-1 justify-content-center p-2 bg-primary text-white fixed-bottom">
        <div class="align-self-center">&copy; WorkTogether 2024, tous droits réservés</div>
    </footer>

    {% block javascripts %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</html>
